body{
    background-image: url(contact.png);
    background-position: center;
    background-size: cover; 
    background-attachment: fixed;
}
.nav{
    font-family:'Antic Didone', serif ;
    font-size: 32px;
    color: #F65A77; 
    text-align: right;
    padding: 30px;
    text-decoration: none;

}

.nav:hover{
    color:#D60A30;
}
    
.navbar{
    display: inline-block;
    padding-top: 20px;
    padding-left: 55%;
    position: absolute;
    width: fit-content;

}
.logo{
    padding: 40px;
    margin-top: -35px;
    display: inline-block;
}
.title{
    font-family:'Antic Didone', serif ;
        font-size: 40px;
        color: #050505;
        text-align: center;
        margin-top: -2.5%;
}
form div{
    display: flex;
    /* border: 2px solid red; */
    margin-top: 65px;
    gap: 30px;

}

form label {

}

form input {
    flex: 1;
}


.FNN {
    width: 800px;
    /* border: 2px solid blue; */
    margin: 0 auto;
    font-family:'Antic Didone', serif ;
    font-size: 32px;
    color: #050505;
}